In [1]:
s = 'Rounak'

In [2]:
len(s)

6

In [4]:
s[-1]

'k'

In [5]:
s[-3:]

'nak'

In [7]:
'r' in s

False

In [8]:
'R' in s

True

In [9]:
'12' + '12'

'1212'

In [10]:
_ + '12'

'121212'

In [11]:
3 * 'Yo'

'YoYoYo'

In [12]:
3 * s

'RounakRounakRounak'

In [20]:
s = s + " Biswas"

In [21]:
s

'Rounak Biswas'

In [22]:
name = s.split(' ')

In [23]:
name

['Rounak', 'Biswas']

In [24]:
name[0].upper()

'ROUNAK'

In [28]:
ids = set()

In [29]:
ids = set([1,2,4,6,8,9])

In [30]:
ids.add(10)

In [31]:
ids

{1, 2, 4, 6, 8, 9, 10}

In [32]:
ids.add(2)

In [33]:
ids

{1, 2, 4, 6, 8, 9, 10}

In [34]:
ids = set(range(15))

In [35]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [36]:
males = set([1,3,5,7,9,13])

In [38]:
females = ids - males

In [39]:
females

{0, 2, 4, 6, 8, 10, 11, 12, 14}

In [40]:
males

{1, 3, 5, 7, 9, 13}

In [41]:
letter_count = len(set(s))

In [42]:
letter_count

11

In [43]:
x = {1,2,3}
y= {2,3,4}

In [44]:
y - x

{4}

In [48]:
x & y

{2, 3}

In [50]:
set.symmetric_difference(x,y)

{1, 4}

In [53]:
age = dict()

In [54]:
age = {"Rounak": 10 , "Puja" : 20 , "Monta" : 30}

In [55]:
age["Rounak"]

10

In [56]:
age["Rounak"] += 5

In [57]:
age["Rounak"]

15

In [59]:
names = age.keys()

In [60]:
names

dict_keys(['Rounak', 'Puja', 'Monta'])

In [61]:
type(names)

dict_keys

In [62]:
"Rounak" in age

True