In [14]:
import os

In [17]:
book_dir = "./Gutenberg/Books/"

In [19]:
os.listdir(book_dir)

['EngFr', 'GerPort']

In [24]:
count = 0
for language in os.listdir(book_dir):
    for author in os.listdir(book_dir + "/" + language):
        for title in os.listdir(book_dir + "/" + language + "/"+author):
            inputfile = book_dir + "/" + language + "/"+author + "/" + title
            print(inputfile)
            count +=1

./Gutenberg/Books//English/shakespeare/A Midsummer Night's Dream.txt
./Gutenberg/Books//English/shakespeare/Hamlet.txt
./Gutenberg/Books//English/shakespeare/Macbeth.txt
./Gutenberg/Books//English/shakespeare/Othello.txt
./Gutenberg/Books//English/shakespeare/Richard III.txt
./Gutenberg/Books//English/shakespeare/Romeo and Juliet.txt
./Gutenberg/Books//English/shakespeare/The Merchant of Venice.txt
./Gutenberg/Books//French/chevalier/L'enfer et le paradis de l'autre monde.txt
./Gutenberg/Books//French/chevalier/L'åle de sable.txt
./Gutenberg/Books//French/chevalier/La capitaine.txt
./Gutenberg/Books//French/chevalier/La fille des indiens rouges.txt
./Gutenberg/Books//French/chevalier/La fille du pirate.txt
./Gutenberg/Books//French/chevalier/Le chasseur noir.txt
./Gutenberg/Books//French/chevalier/Les derniers Iroquois.txt
./Gutenberg/Books//French/de Maupassant/Boule de Suif.txt
./Gutenberg/Books//French/de Maupassant/Claire de Lune.txt
./Gutenberg/Books//French/de Maupassant/Contes de la Becasse.txt
./Gutenberg/Books//French/de Maupassant/L'inutile beautÇ.txt
./Gutenberg/Books//French/de Maupassant/La Main Gauche.txt
./Gutenberg/Books//French/de Maupassant/La Maison Tellier.txt
./Gutenberg/Books//French/de Maupassant/La petite roque.txt
./Gutenberg/Books//French/de Maupassant/Le Horla.txt
./Gutenberg/Books//French/de Maupassant/Œuvres complètes de Guy de Maupassant.txt
./Gutenberg/Books//French/diderot/Ceci n'est pas un conte.txt
./Gutenberg/Books//French/diderot/Entretien d'un päre avec ses enfants.txt
./Gutenberg/Books//French/diderot/L'oiseau blanc.txt
./Gutenberg/Books//French/diderot/Les deux amis de Bourbonne.txt
./Gutenberg/Books//French/diderot/Regrets sur ma vieille robe de chambre.txt
./Gutenberg/Books//French/sand/cora.txt
./Gutenberg/Books//French/sand/Jacques le fataliste et son maåtre.txt
./Gutenberg/Books//French/sand/L' Orco.txt
./Gutenberg/Books//French/sand/La Coupe; Lupo Liverani; Le Toast; Garnier; Le Contrebandier; La Ràverie Ö Paris.txt
./Gutenberg/Books//French/sand/La Marquise.txt
./Gutenberg/Books//French/sand/Le Piccinino.txt
./Gutenberg/Books//French/sand/Le poâme de Myrza.txt
./Gutenberg/Books//French/sand/Mattea.txt
./Gutenberg/Books//French/sand/Metella.txt
./Gutenberg/Books//French/sand/Oeuvres illustrÇes de George Sand.txt
./Gutenberg/Books//French/sand/Pauline.txt
./Gutenberg/Books//German/lessing/der freigeist.txt
./Gutenberg/Books//German/lessing/der junge gelehrte.txt
./Gutenberg/Books//German/lessing/die juden.txt
./Gutenberg/Books//German/lessing/emilia galotti.txt
./Gutenberg/Books//German/lessing/hamburgische dramaturgie.txt
./Gutenberg/Books//German/lessing/minna von barnhelm.txt
./Gutenberg/Books//German/lessing/miss sara sampson.txt
./Gutenberg/Books//German/lessing/philotas.txt
./Gutenberg/Books//German/raimund/Das MÑdchen aus der Feenwelt.txt
./Gutenberg/Books//German/raimund/Der Alpenkînig und der Menschenfeind.txt
./Gutenberg/Books//German/raimund/Der Barometermacher auf der Zauberinsel.txt
./Gutenberg/Books//German/raimund/Der Diamant des Geisterkînigs.txt
./Gutenberg/Books//German/raimund/Der Verschwender.txt
./Gutenberg/Books//German/raimund/Die gefesselte Phantasie.txt
./Gutenberg/Books//German/raimund/Die unheilbringende Krone.txt
./Gutenberg/Books//German/raimund/Moisasurs Zauberfluch.txt
./Gutenberg/Books//German/schiller/Der Neffe als Onkel.txt
./Gutenberg/Books//German/schiller/Der Parasit, oder die Kunst, sein GlÅck zu machen.txt
./Gutenberg/Books//German/schiller/die braut von messina.txt
./Gutenberg/Books//German/schiller/Die Huldigung der KÅnste.txt
./Gutenberg/Books//German/schiller/Die Jungfrau von Orleans.txt
./Gutenberg/Books//German/schiller/Die Piccolomini.txt
./Gutenberg/Books//German/schiller/Die Verschwîrung des Fiesco zu Genua.txt
./Gutenberg/Books//German/schiller/Kabale und Liebe.txt
./Gutenberg/Books//German/schiller/Turandot, Prinzessin von China.txt
./Gutenberg/Books//German/schiller/Wallensteins Lager.txt
./Gutenberg/Books//German/schiller/Wallensteins Tod.txt
./Gutenberg/Books//German/shakespeare/Der Kaufmann von Venedig.txt
./Gutenberg/Books//German/shakespeare/Ein Sommernachtstraum.txt
./Gutenberg/Books//German/shakespeare/Hamlet.txt
./Gutenberg/Books//German/shakespeare/Macbeth.txt
./Gutenberg/Books//German/shakespeare/Othello.txt
./Gutenberg/Books//German/shakespeare/Richard III.txt
./Gutenberg/Books//German/shakespeare/Romeo und Julia.txt
./Gutenberg/Books//Portuguese/branco/A Filha do Arcediago.txt
./Gutenberg/Books//Portuguese/branco/A Neta do Arcediago.txt
./Gutenberg/Books//Portuguese/branco/A Queda d'um Anjo.txt
./Gutenberg/Books//Portuguese/branco/Agulha em Palheiro.txt
./Gutenberg/Books//Portuguese/branco/Amor de Perdição.txt
./Gutenberg/Books//Portuguese/branco/Amor de Salvação.txt
./Gutenberg/Books//Portuguese/branco/Annos de Prosa.txt
./Gutenberg/Books//Portuguese/branco/Carlota Angela.txt
./Gutenberg/Books//Portuguese/branco/Estrellas Funestas.txt
./Gutenberg/Books//Portuguese/branco/Estrellas Prop°cias.txt
./Gutenberg/Books//Portuguese/branco/Lagrimas Abenáoadas.txt
./Gutenberg/Books//Portuguese/branco/Livro de Consolação.txt
./Gutenberg/Books//Portuguese/branco/O Olho de Vidro.txt
./Gutenberg/Books//Portuguese/branco/O que fazem mulheres.txt
./Gutenberg/Books//Portuguese/branco/O Regicida.txt
./Gutenberg/Books//Portuguese/branco/Scenas Contemporaneas.txt
./Gutenberg/Books//Portuguese/dinis/A Morgadinha dos Cannaviaes.txt
./Gutenberg/Books//Portuguese/dinis/Os fidalgos da Casa Mourisca.txt
./Gutenberg/Books//Portuguese/dinis/Uma fam°lia ingleza.txt
./Gutenberg/Books//Portuguese/Queir¢s/A Cidade e as Serras.txt
./Gutenberg/Books//Portuguese/Queir¢s/A correspondància de Fradique Mendes.txt
./Gutenberg/Books//Portuguese/Queir¢s/A Illustre Casa de Ramires.txt
./Gutenberg/Books//Portuguese/Queir¢s/A Rel°quia.txt
./Gutenberg/Books//Portuguese/Queir¢s/Cartas de Inglaterra.txt
./Gutenberg/Books//Portuguese/Queir¢s/O crime do padre Amaro.txt
./Gutenberg/Books//Portuguese/Queir¢s/O Mandarim.txt
./Gutenberg/Books//Portuguese/Queir¢s/O Primo Bazilio.txt
./Gutenberg/Books//Portuguese/Queir¢s/Os Maias.txt
./Gutenberg/Books//Portuguese/shakespeare/Hamlet.txt

In [25]:
print(count)

102

In [26]:
#panle data
import pandas as pd

In [27]:
table = pd.DataFrame(columns=("name","age"))

In [28]:
for i in range(5):
    name = str(input())
    age = int(input())
    table.loc[i] = name , age

Rounak
25
Pupu
24
Srijita
15
Shila
56
Pritikar
68

In [29]:
table

       name age
0    Rounak  25
1      Pupu  24
2   Srijita  15
3     Shila  56
4  Pritikar  68

In [30]:
table.columns

Index(['name', 'age'], dtype='object')

In [40]:
from collections import Counter

def read_book(title_path):
    """Read a book and return it as a string"""
    with open(title_path,'r',encoding="utf8") as cur_file:
        text = cur_file.read()
        text = text.replace("\n","").replace("\r","")
    return text

def count_words_inbuilt(text):
    """Count the number of times each word occurs in text(str).Return dictionary where keys are unique words
    and values are word counts . Skip punctuation"""
    text = text.lower()
    skips = [".",",",";",":","'",'"']
    for ch in skips:
        text = text.replace(ch,"")
    word_counts = Counter(text.split(" "))
    return word_counts

def word_stats(word_counts):
    """Return number of unique and word frequency"""
    num_unique = len(word_counts)
    counts = word_counts.values()
    return (num_unique, counts)

In [50]:
stats = pd.DataFrame(columns=("Language","Author","Title","Lenght","Unique_Word"))
title_count = 1
for language in os.listdir(book_dir):
    for author in os.listdir(book_dir + "/" + language):
        for title in os.listdir(book_dir + "/" + language + "/"+author):
            inputfile = book_dir + "/" + language + "/"+author + "/" + title
            #print(inputfile)
            text = read_book(inputfile)
            (num_unique,counts) = word_stats(count_words_inbuilt(text))
            stats.loc[title_count] = language , author.capitalize() , title.replace(".txt","") ,sum(counts),num_unique
            title_count +=1

In [51]:
stats.head()

  Language       Author                      Title Lenght Unique_Word
1  English  Shakespeare  A Midsummer Night's Dream  16103        4345
2  English  Shakespeare                     Hamlet  28551        6776
3  English  Shakespeare                    Macbeth  16874        4780
4  English  Shakespeare                    Othello  26590        5898
5  English  Shakespeare                Richard III  48315        5449

In [52]:
stats.tail()

       Language       Author                   Title  Lenght Unique_Word
98   Portuguese      Queir¢s  O crime do padre Amaro  128630       29300
99   Portuguese      Queir¢s              O Mandarim   21440        7836
100  Portuguese      Queir¢s         O Primo Bazilio  107303       27644
101  Portuguese      Queir¢s                Os Maias  195771       40665
102  Portuguese  Shakespeare                  Hamlet   30567        9700