In [1]:
# DO NOT EDIT THIS CODE!
import os
import pandas as pd
import numpy as np
from collections import Counter

def count_words_fast(text):
    text = text.lower()
    skips = [".", ",", ";", ":", "'", '"', "\n", "!", "?", "(", ")"]
    for ch in skips:
        text = text.replace(ch, "")
    word_counts = Counter(text.split(" "))
    return word_counts

def word_stats(word_counts):
    num_unique = len(word_counts)
    counts = word_counts.values()
    return (num_unique, counts)

In [2]:
filepath = "./Homework/hamlets.csv"

In [3]:
hamlet = pd.read_csv(filepath,index_col= 0)

In [4]:
len(hamlet)

3

In [5]:
hamlet

     language                                               text
1     English  The Tragedie of Hamlet\n                      ...
2      German  Hamlet, Prinz von Dännemark.\n                ...
3  Portuguese  HAMLET\n                             DRAMA EM ...

In [44]:
hamlet.shape

(3, 2)

In [6]:
language, text = hamlet.iloc[0]

In [7]:
counted_text = count_words_fast(text)

In [8]:
data = pd.DataFrame(list(counted_text.items()), columns=("Word","Count"))

In [9]:
data.head()

       Word  Count
0       the    935
1  tragedie      3
2        of    576
3    hamlet     97
4            45513

In [10]:
len(data.iloc[0].Word)

3

In [11]:
word_len =list()
freq = list()
for ind in data.index:
    word_len.append(len(data.iloc[ind].Word))
    ct = data.iloc[ind].Count
    if ct > 10:
        freq.append("Frequent")
    if 1< ct <=10:
        freq.append("Infrequent")
    if ct == 1 :
        freq.append("Unique")

In [12]:
data["Lenght"] = word_len

In [13]:
data["Frequency"] = freq

In [14]:
data.tail()

              Word  Count  Lenght Frequency
5108  shooteexeunt      1      12    Unique
5109      marching      1       8    Unique
5110         peale      1       5    Unique
5111           ord      1       3    Unique
5112         finis      1       5    Unique

In [15]:
Unique_Count = 0
for ind in data.index:
    if data.iloc[ind].Frequency == "Unique":
        Unique_Count += 1

In [16]:
Unique_Count

3348

In [17]:
import math

In [18]:
Language = hamlet.language

In [22]:
Mean_Word_lenght = data.groupby(by = "Frequency")["Lenght"].mean()

In [23]:
Num_Of_Word = data.groupby(by = "Frequency").size()

In [24]:
freq_seg = ("Frequent","Infrequent","Unique")

In [32]:
sub_data = pd.DataFrame({
    "language": language,
    "frequency": freq_seg,
    "mean_word_length": Mean_Word_lenght,
    "num_words": Num_Of_Word
})

In [35]:
sub_data

           language   frequency  mean_word_length  num_words
Frequency
Frequent    English    Frequent          4.371517        323
Infrequent  English  Infrequent          5.825243       1442
Unique      English      Unique          7.005675       3348

In [34]:
def summarize_text(language, text):
    counted_text = count_words_fast(text)

    data = pd.DataFrame({
        "word": list(counted_text.keys()),
        "count": list(counted_text.values())
    })
    
    data.loc[data["count"] > 10,  "frequency"] = "frequent"
    data.loc[data["count"] <= 10, "frequency"] = "infrequent"
    data.loc[data["count"] == 1,  "frequency"] = "unique"
    
    data["length"] = data["word"].apply(len)
    
    sub_data = pd.DataFrame({
        "language": language,
        "frequency": ["frequent","infrequent","unique"],
        "mean_word_length": data.groupby(by = "frequency")["length"].mean(),
        "num_words": data.groupby(by = "frequency").size()
    })
    
    return(sub_data)

In [42]:
grouped_data = pd.DataFrame(columns = ["language", "frequency", "mean_word_length", "num_words"])

for i in range(hamlet.shape[0]):
    language, text = hamlet.iloc[i]
    sub_data = summarize_text(language, text)
    grouped_data = grouped_data.append(sub_data)

In [43]:
grouped_data

              language   frequency  mean_word_length num_words
frequent       English    frequent          4.371517       323
infrequent     English  infrequent          5.825243      1442
unique         English      unique          7.005675      3348
frequent        German    frequent          4.528053       303
infrequent      German  infrequent          6.481830      1596
unique          German      unique          9.006987      5582
frequent    Portuguese    frequent          4.417625       261
infrequent  Portuguese  infrequent          6.497870      1643
unique      Portuguese      unique          8.669778      5357